<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "styles.css" rel ="stylesheet"/>
    <title>Document</title>
</head>
<body>
<h1> Hoja de Vida de Wilmar Alzate Berrío</h1>
<p> Apasionado por el aprendizaje de las matemáticas con más de 15 años de experiencia en la enseñanza de cursos
    de prégrado como álgebra lineal, cálculo, matemáticas discretas, estadística y ecuaciones diferenciales.
    Tengo habilidades en resolución de problemas y programación básica en Python. Como matemático estoy comprometido a resolver problemas
    en un enfoque lógico y óptimo. Además, estoy constantemente mejorando mis habilidades. </p>
<h2> Mátemático</h2>
<h2> Magister en Matemáticas</h2>
<h2> Profesor de la Universidad de Antioquia</h2>
<h5> Esto es un titulo</h5>
<h6> Esto es un titulo</h6>
<h1> Esto es un titulo</h1>
<span> Es un texto corto</span>

<a href= https://www.google.com.co> Este es un link a google </a>
<form>
<input placeholder=" ingrese su nombre" type ="text"/>
    <input type = "number"/>
    <input type = "date"/>
    <input type = "file"/>
<button class = button-primary> Aca un boton</button>

</form>
</body>
</html>