<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Tareas</title>
</head>
<body>

<div class= "container-fluid bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Página de Wilmar Alzate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Gestion de Tareas</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

            </div>
        </nav>

    </div>

</div>
<div class="row" mt-5>
    <div class="col-9">
        <h2 class="text-center">
            Acerca de mi
        </h2>
        <p class="font-weight-bold  text-justify">
            Apasionado por el aprendizaje de las matemáticas con más de 15 años de
            experiencia en la enseñanza de cursos de prégrado como álgebra lineal,
            cálculo, matemáticas discretas, estadística y ecuaciones diferenciales.
            Tengo habilidades en resolución de problemas y programación básica en Python. Como matemático estoy comprometido a resolver problemas en un enfoque lógico y óptimo. Además, estoy constantemente mejorando mis habilidades.
        </p>
        <p>

        </p>
    </div>
    <div class="class col-3">
        <img src="./img/Foto-Colmayor.png" class=" img-fluid  rounded-top"  >
    </div>

</div>




<main>
    <div class="px-4 py-5 my-5 text-center">
        <div>
            <h1 class = "display-5 fw-bold">Mis Tareas</h1>
            <a href = "/tasks/new" class ="btn  btn-secondary"> Crear Nueva Tarea</a>
        </div>
         <div class = "d-flex gap-4 justify-content-center">
             <div th:each="task :${tasks}" class="card" style="width: 18rem;">
                 <div th:switch = "${task.done} ">
                     <img th:case = "true" src="img/done.png" class="card-img-top"  style = "width:60px" alt = "ImageTareas">
                     <img th:case = "false" src="img/pending.png" class="card-img-top" style = "width:60px" alt = "ImageTareas">
                 </div>
                 <div class="card-body">
                     <h5 class="card-title" th:text="${task.description}"></h5>
                     <p class="card-text"  th:text="${task.dueDate}"></p>
                     <div th:if="${!task.done}">
                         <form th:action="@{/tasks/{id}(id=${task.id})}" th:method = "patch">
                             <button type="submit"   class="btn btn-primary"> Finalizar Tarea </button>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>